{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.597"}
        fresnel {:mvn/version "0.3.1"}
        domina {:mvn/version "1.0.3"}
        org.jsoup/jsoup {:mvn/version "1.12.1"}}
 :paths ["src/clj" "src/cljs"]
 :aliases {:outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                      :main-opts  ["-m" "depot.outdated.main" "-a" "outdated"]}}}
